[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = kirkstone
[submodule "meta-raspberry"]
	path = meta-raspberry
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = kirkstone
[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/poky
        branch = kirkstone
[submodule "meta-qt5"]
	path = meta-qt5
	url = https://github.com/meta-qt5/meta-qt5
        branch = kirkstone
