[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = kirkstone
[submodule "meta-raspberry"]
	path = meta-raspberry
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = kirkstone
